.category {
  font-weight: 700;
  font-size: 16px;
}

.old-price {
  text-decoration: line-through;
}

.price {
  font-size: 30px;
}

@media (min-width: 768px) {
  #promotion {
    min-height: 750px;
  }
}

.splide__slide_thumbnail {
  background-image: url("https://picsum.photos/400/150");
  background-position: center;
}

.product-image {
  background-image: url("https://picsum.photos/200/250");
  background-repeat: no-repeat;
  height: 250px;
  max-width: 200px;
}

.splide__slide_img {
  background-image: url("https://picsum.photos/1450/550");
}
